streamlit
pandas
Pillow
python-dotenv
requests
numpy>=1.17
PyMuPDF
pytesseract>=0.3.13

# LangChain-related
langchain
langchain-community
langchain-google-genai
langchain-groq
sentence-transformers
openai
chromadb
google-generativeai

# YouTube API
youtube-search-python

# For scraping + selenium
beautifulsoup4
selenium
webdriver-manager
