streamlit
pandas
pillow
python-dotenv
langchain
langchain-google-genai
google-generativeai
openai
chromadb
youtube-search-python
requests
langchain-community
sentence-transformers
numpy>=1.17
pytesseract>=0.3.13
langchain-groq
